@charset 'utf-8';

@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss'
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular.scss'
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss'
@import '../node_modules/bulma/bulma'
@import '../node_modules/bulma-slider/src/sass/index.sass'
@import './tagify.css'

html
  background: $grey-lightest
  height: 100%

.beer-card
  min-width: 280px
  max-width: 500px

  .card-header-title
    display: inline-block

.media-content
  overflow-x: hidden;

p.is-clipped
  text-overflow: ellipsis;

.line-clamp-3
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

.one-line-overflow-scroll
  overflow: scroll;
  display: -webkit-box;
  -webkit-line-clamp: 1;

.rating
  &__lt-2
    color: $red
  &__lt-3
    color: $orange
  &__lt-4
    color: $green
  &__lt-5
    color: $turquoise

.is-size-8
  font-size: 0.5rem
