@charset 'utf-8';

$indigo-dye: #004777;
$rufous: #A30000;
$safety-orange: #FF7700;
$buff: #EFD28D;
$verdigris: #00AFB5;

$primary: $indigo-dye;
$link: $verdigris;
$danger: $rufous;

@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss'
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular.scss'
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss'
@import '../node_modules/bulma/bulma'
@import '../node_modules/bulma-slider/src/sass/index.sass'
@import "../node_modules/sass-prefix-mixins/scss/prefixes";
@import './tagify.css'

html
  background: $white-ter
  height: 100%

.box:not(:last-child)
  margin-bottom: 1em;

.dots
  border-bottom: dotted 2px $grey-lighter
  margin: 0 8px 4px 8px;

.media-content
  overflow-x: hidden;

p.is-clipped
  text-overflow: ellipsis;

.is-size-8
  font-size: 0.5rem

.line-clamp-3
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

.one-line-overflow-scroll
  overflow: scroll;
  display: -webkit-box;
  -webkit-line-clamp: 1;

.overall
  font-weight: bold

  &.lt-2
    color: $red
  &.lt-3
    color: $orange
  &.lt-4
    color: $green
  &.lt-5
    color: $turquoise

.rating
  &__lt-2
    color: $red
  &__lt-3
    color: $orange
  &__lt-4
    color: $green
  &__lt-5
    color: $turquoise

.search-input
  width: 280px;
