@charset 'utf-8';

@import '../node_modules/bulma/bulma'
@import '../node_modules/bulma-slider/src/sass/index.sass'

.beer-card
  min-width: 280px
  max-width: 500px

  .card-header-title
    display: inline-block

.margin-right-sm
  margin-right: 4px

.padding-left-sm
  padding-right: 4px

.padding-right-sm
  padding-right: 4px

.rating
  .progress
    vertical-align: middle
    display: inline-block
    margin-top: -3px
    margin-left: 4px
    width: 80px

.width-100-pct
  width: 100%
