/*.log
/target
/*-init.clj
out
.rebel_readline_history
node_modules/
/resources/public/css
/resources/public/cljs
/resources/public/js
.lein-repl-history
.firebase/
/public/css
/public/js
.shadow-cljs/
/.clj-kondo/
/storybook-static/
