;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dev-http {8080 "public"}

 :dependencies
 [[reagent "1.0.0"]
  [com.pitch/uix.core "0.6.2"]
  [com.pitch/uix.dom "0.6.2"]
  [org.clojure/spec.alpha "0.3.214"]]

 :builds
 {:app {:target  :browser
        :modules {:main {:init-fn the-drink-list.core/init}}}
  :stories {:target :npm-module
            :ns-regexp ".*stories$"
            :output-dir "public/js/stories"}}}
